DATABASE_URL=postgresql://ykamina:ykamina_dev@localhost:5432/ykamina
NEXT_PUBLIC_API_URL=http://localhost:3000/api
REALFLAME_CSV_URL=https://realflame.ru/upload/partners.csv
REALFLAME_STOCK_URL=https://realflame.ru/price/RealFlameStock.xlsx
