DATABASE_URL=postgresql://ykamina:ykamina_dev@localhost:5432/ykamina
NEXT_PUBLIC_API_URL=http://localhost:3000/api
REALFLAME_CSV_URL=https://realflame.ru/upload/partners.csv
REALFLAME_STOCK_URL=https://realflame.ru/price/RealFlameStock.xlsx
TBANK_TERMINAL_KEY=
TBANK_PASSWORD=
TBANK_API_URL=https://securepay.tinkoff.ru/v2/Init
NEXT_PUBLIC_SITE_URL=http://localhost:3000
DATABASE_PUBLIC_HOST=
TBANK_TAXATION=
TBANK_TAX=
TBANK_FFD_VERSION=1.2
TBANK_PAYMENT_METHOD=full_prepayment
YANDEX_PAY_MERCHANT_ID=
YANDEX_PAY_API_KEY=
YANDEX_PAY_ENV=sandbox
NEXT_PUBLIC_YANDEX_SPLIT_ENABLED=false
